@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mukta: "Mukta", sans-serif;
}

* {
  font-family: var(--font-mukta), sans-serif;
}

@layer utilities {
  .form-title {
    @apply font-mukta text-2xl font-semibold text-orange-600;
  }
}

@layer components {
  /* calc(100vh - 64px) here - 64px is height of navbar so i can remove scroll in page */
  .vertical-center {
    height: calc(100vh - 95px);
  }
}
